aiohttp==3.9.3 ; python_version >= "3.11" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.3.0 ; python_version >= "3.11" and python_version < "3.13"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
docker==7.0.0 ; python_version >= "3.11" and python_version < "3.13"
docstring-parser==0.15 ; python_version >= "3.11" and python_version < "3.13"
flaml==2.1.1 ; python_version >= "3.11" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "3.13"
greenlet==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.4 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.6 ; python_version >= "3.11" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
instructor==0.6.4 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
multidict==6.0.5 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
openai==1.13.3 ; python_version >= "3.11" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.13"
playwright==1.42.0 ; python_version >= "3.11" and python_version < "3.13"
pluggy==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
pyautogen==0.2.17 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.16.3 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.6.3 ; python_version >= "3.11" and python_version < "3.13"
pyee==11.0.1 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.11" and python_version < "3.13"
pytest-base-url==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
pytest-playwright==0.4.4 ; python_version >= "3.11" and python_version < "3.13"
pytest==8.1.1 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
python-slugify==8.0.4 ; python_version >= "3.11" and python_version < "3.13"
pywin32==306 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
regex==2023.12.25 ; python_version >= "3.11" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
text-unidecode==1.3 ; python_version >= "3.11" and python_version < "3.13"
tiktoken==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
tqdm==4.66.2 ; python_version >= "3.11" and python_version < "3.13"
typer==0.9.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.10.0 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "3.13"
